<!--Step 12; Add base.html & block title & crispy_forms_tags in this page -->
{% extends 'partials/base.html' %}
{% block title %} Update Profile Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="h4"> Update Profile Information</span> 
                                <hr>
                                    <!--Step 14; Must to be inserted (enctype="multipart/form-data") to passing the image-->
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{user_form|crispy}}
                                        {{profile_form|crispy}}
                                        <input class= "btn btn-info" type="submit" value="Update">
                                    </form>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Table-->

{% endblock %}