
<!--Step 3; This is the template of index.html-->
<!--
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>This Page for index</h1>
        <script src="" async defer></script>
    </body>
</html>
-->

{% extends 'partials/base.html' %}

<!--Step 4; block title per each web page-->

{% block title %}Home Page{% endblock %}

{% block content %}
<!--Step 11; Add validation Login with Group Authentication-->
{% if user.is_authenticated and user.is_staff and user.is_superuser %}

<!--Step 8; Move "TopNav" from "base.html" for each separate page in the "block content" -->
{% include 'partials/topnav.html' %}

    <!--Graphs-->
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6">
                <h6 class="text-center">This is chart display the stock of products</h6>
                <hr>
                <div class="bg-white ">
                    <canvas id="myChart1" width="400" height="300"></canvas>
                    <script>
                        //Step 19;For making colors backgroud and border Automated (For chart1)
                        //
                        const labels_products=[
                            {% for x in products %}
                                '{{x.name}}',
                            {% endfor %}
                        ];
                        const stock_product=[
                        {% for x in products %}
                            {{x.quantity}},
                        {% endfor %}         
                        ];

                        //Step 19;Create vairables for (For chart1)
                        const backgroundcolor_chat1=[];
                        const bordercolor_chart1=[];

                        //Step 19;For loop random colors (For chart1)
                        for(i=0;i<labels_products.length; i++){
                            const r=Math.floor(Math.random()*255);
                            const g=Math.floor(Math.random()*255);
                            const b=Math.floor(Math.random()*255);
                            backgroundcolor_chat1.push('rgba('+r+','+g+','+b+',0.2)');
                            bordercolor_chart1.push('rgba('+r+','+g+','+b+',1)')
                        }
                        //=================================Step 19;colors backgroud and border Automate

                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels_products,
                                datasets: [{
                                    label: 'Availble quatity Products',
                                    data: stock_product,
                                    backgroundColor:backgroundcolor_chat1,
                                    borderColor:bordercolor_chart1,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            <div class="col-md-6">
                <h6 class="text-center">This is chart display all orders per day</h6>
                <hr>
                <div class="bg-white">
                    <canvas id="myChart2" width="400" height="300"></canvas>
                    <script>
                        //Step 19;For making colors backgroud and border Automated (For chart1)
                        const labels_date=[
                            {% for x in orders %}
                                '{{x.date}}',
                            {% endfor %}
                        ];
                        const orders=[
                        {% for x in orders %}
                            {{x.order_quantity}},
                        {% endfor %}         
                        ];

                        //Step 19;Create vairables for (For chart1)
                        const backgroundcolor_chat2=[];
                        const bordercolor_chart2=[];

                        //Step 19;For loop random colors (For chart1)
                        for(i=0;i<labels_date.length; i++){
                            const r=Math.floor(Math.random()*255);
                            const g=Math.floor(Math.random()*255);
                            const b=Math.floor(Math.random()*255);
                            backgroundcolor_chat2.push('rgba('+r+','+g+','+b+',0.2)');
                            bordercolor_chart2.push('rgba('+r+','+g+','+b+',1)')
                        }
                        //=================================Step 19;colors backgroud and border Automate
                        var ctx = document.getElementById('myChart2').getContext('2d');
                        var myChart2 = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels_date,
                                datasets: [{
                                    label: 'Quatity Orders',
                                    data: orders,
                                    backgroundColor: backgroundcolor_chat2,
                                    borderColor: bordercolor_chart2,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!--End Graphs-->
{% else %}
    <!--Step 11; This header is test for authentication user-->
    <!--<h1 class="alert-danger text-lg-center p-5">This is the content any users</h1>-->

    <!--Step 11; Insert a new page any user without staff group user-->
    {% include 'dashboard/staff_index.html' %}

{% endif %}
{% endblock %}