<!--Step 4; Create new page for orders-->
{% extends 'partials/base.html'%}
<!--Step 4; block title per each web page-->
{% block title %}Orders page{% endblock %}

{% block content %}

<!--Step 8; Move "TopNav" from "base.html" for each separate page in the "block content" -->
{% include 'partials/topnav.html' %}

<!--Step 4; for test the block content add the below tag-->
<!--
<h1>This is the content orders page ..... </h1>
-->

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Order by</th>
                            <th scope="col">Creation date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Step 16;Add for loop in orders @ html page -->
                        {% for allOrder in allOrders %}
                        <tr>
                            <th scope="row">{{allOrder.id}}</th>
                            <td>{{allOrder.product.name}}</td>
                            <td>{{allOrder.product.category}}</td>
                            <td>{{allOrder.order_quantity}}</td>
                            <td>{{allOrder.staff.username}}</td>
                            <td>{{allOrder.date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--End Table-->

{% endblock %}