<!--Step 4; Create new page for procducts-->
{% extends 'partials/base.html'%}
<!--Step 4; block title per each web page-->
{% block title %}Products page{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<!--Step 8; Move "TopNav" from "base.html" for each separate page in the #"block content" -->
{% include 'partials/topnav.html' %}

<!--Step 4; for test the block content add the below tag-->
<!--
<h1>This is the content products page ..... </h1>
-->

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                <!--Step 18;Alert message-->
                {% for x in messages%}
                {% if x %}
                <div class="alert alert-{{x.tags}}">
                    {{x}}
                </div>
                {% endif %}
                {% endfor %}
                <div class="border bg-white p-3">
                    <h4>Add Products</h4>
                    <hr>
                    <form method="POST">
                        <!--
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quantity</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group ">
                            <label for="inputState">Category</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        -->
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-success btn-block" type="submit" value="Add Product">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Step 15; Add for loop in product items-->
                        {% for koko in kokos %}
                        <tr>
                            <td>{{ koko.id }}</td>
                            <td>{{ koko.name }}</td>
                            <td>{{ koko.category }}</td>
                            <td>{{ koko.quantity }}</td>
                            <td>
                                <!--Step 15; Add the URL Edit & Delete with passing pk item-->
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard_product_update' koko.id %}">Edit</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'dashboard_product_delete' koko.id %}">Delete</a>
                            </td>
                            {% endfor %}
                        </tr>
                        <!--Step 15; Add count number in all items mentioned at product-->
                        <!--<p>#{{ count_no }}</p>-->
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--End Table-->
{% endblock %}