
<!--Step 3; This is the template of index.html-->
<!--
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>This Page for index</h1>
        <script src="" async defer></script>
    </body>
</html>
-->
<!--Step 8; Move "TopNav" from "base.html" for each separate page in the "block content" -->
{% extends 'partials/base.html'%}

<!--Step 4; block title per each web page-->
{% block title %}Staff page{% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}

<!--Step 4; for test the block content add the below tag-->
<!--
<h1>This is the content Staff page ..... </h1>
-->

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Step 16; Add for loop in the staff users at template-->
                        {% for staff in staffs %}
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="{% url 'dashboard_staff_detail' staff.id %}">View</a></th>
                            <td>{{ staff.username }}</td>
                            <td>{{staff.email}}</td>
                            <td>{{staff.profile.phone}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--End Table-->
{% endblock %}